html,
body,
#root {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.defaultBlur {
  filter: blur(4px);
  transition: filter 0.2s;
}

.defaultBlur:hover {
  filter: none;
}